h1 #{user.name}'s todos:
ul
    each task, index in user.tasks
        li.delete-todo(onclick='putFunction("#{user.name}", "#{task}")')=task


button#delete-user(onclick='deleteFunction("#{user.name}")') Delete User

script.
    let deleteFunction = async function(name){
        await fetch(`./${name}`, {method:'DELETE'})
    }


    let putFunction = async function(name, todo){
        await fetch('./', {
            method: "PUT",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: name,
                todo: todo
            })
        });
    }
